
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$white: #fff;

.navbar-brand {
	padding: 0;
	height: initial;
}

.navbar-nav > li > a {
	padding-top: 25px;
	padding-bottom: 25px;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.table-hover > tbody > tr:hover,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: $brand-primary;
	color: $white;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	background-color: $brand-primary;
	color: $white;
}

.panel-default {
	.panel-heading {
		background-color: $brand-primary;
		color: $white;
	}
}

li button.remove.pull-right {
	padding: 0;
	color: red;
	margin-top: -23px;
}

li.list-group-item:hover {
	background: $brand-primary;
	color: $white;
	cursor: pointer;
}