
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$white: #fff;

* {
	margin: 0;
	box-sizing: border-box;
}

.panel-flush {
	.panel-header,
	.panel-body {
		padding: 0;
	}
}

.m-b-none {
    margin-bottom: 0;
}

.admin-settings-stacked-tabs {
	border-radius: 4px;
	font-weight: 300;

	a {
		border-bottom: 1px solid #e4ecf2;
		border-left: 3px solid transparent;
	}

	li {
		a:active,
		a:hover,
		a:link,
		a:visited {
			background-color: transparent;
		}
	}
}

.nav {
	margin-bottom: 0;
    padding-left: 0;
    list-style: none;

	li.active {
		a {
			border-left: 3px solid $brand-primary;
		}
	}
}

.navbar-brand {
	padding: 0;
	height: initial;
}

.navbar-nav > li > a {
	padding-top: 25px;
	padding-bottom: 25px;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.table-hover > tbody > tr:hover,
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: $brand-primary;
	color: $white;
	cursor: pointer;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus {
	background-color: $brand-primary;
	color: $white;
}

.panel-default {
	.panel-heading {
		background-color: $brand-primary;
		color: $white;
	}
}

li button.remove.pull-right {
	padding: 0;
	color: red;
	margin-top: -23px;
}

li.list-group-item:hover {
	background: $brand-primary;
	color: $white;
	cursor: pointer;
}